.container__pack {
    color: var(--color-background-light);
    font-size: 13px;
    display: flex;
  }
  
  .container__price {
    font-size: 1rem;
    color: var(--color-primary);
  }
  
  .container__price-value {
    font-size: 1.3rem;
    color: var(--color-background-dark);
  }
  
  .container__pack-display {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 7.7vh;
  }
  
  .container__pack-quantity-selector {
    display: flex;
    color: var(--color-background-dark);
    align-items: center;
    justify-content: space-around;
    height: 7.7vh;
    font-size: 1rem;
  }
  
  .container__pack-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  
  .container__pack-size {
    border: 2px solid var(--color-background-light);
    color: var(--color-background-light);
    border-radius: 50%;
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    margin-left: 2vw;
    z-index: 2;
    margin-bottom: -1vh;
  }
  
  .equal {
    color: var(--color-text-secondary);
    font-size: 2.5rem;
  }
  
  .container__pack-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    width: 37px;
    height: 25px;
    background: var(--color-background-light);
    color: var(--color-highlight);
    font-family: Roboto;
    font-size: 20px;
    margin: 0px 11px;
    font-style: normal;
    font-weight: 400;
    z-index: 1;
  }
  
  .quantity-selector {
    display: flex;
    flex-direction: column;
  }
  
  .quantity-selector__btns {
    display: flex;
    gap: 2vw;
  }
  
  .quantity-selector__button {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 0.1px solid transparent;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-light);
    background-color: var(--color-highlight);
  }
  
  .quantity-selector__quantity {
    color: var(--color-highlight);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    padding: 2px;
    border: 1px solid var(--color-highlight);
    display: grid;
    place-content: center;
  }
  
  .quantity-selector__label {
    font-weight: bold;
  }  

  @media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container__imagem-grande {
    height: 63vh;
  }
}