body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  border: 1px solid #000;
  height: 100%;
  width: 30%;
}
.container__header{
  height: 5vh;
  background-color: #809CAA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.container__header--categoria{
  color: rgb(128, 156, 170);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    background: rgb(253, 255, 253);
}

.container__imagem-grande{
  width: 100%;
  height: 65vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__botao{
  border-radius: 50%;
  padding: 10px;
  margin: 1%;
  background-color: #809CAA;
  border: 1px solid transparent;
  color: #FFFF;
}

.container__botao:hover{
  cursor: pointer;
}

.container__troca-imagem{
  border-top: 4px solid #809CAA;
}

.linhaPai{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linha{
  width: 80%;
  height: 1px;
  background-color: #CCD0CF;
  margin-top: 4px;
}

.container__dados{
  display: flex;
  height: 6.5vh;
  align-items: center;
  justify-content: space-around;
}

.container__pack-display{
  background-color: #809CAB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  height: 7.7vh;
}

.container__pack-quantity-selector{
  background-color: teal;
  height: 7.7vh;
}

.container__pack-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: tomato;
}

.container__pack-size{
  border: 1px solid #FFF;
  color: #fff;
  border-radius: 50%;
  padding: 6px 9px;
  margin-left: 2vw;
  z-index: 2;
}

.container__pack-stock{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  width: 37px;
  height: 25px;
  background: rgb(255, 255, 255);
  color: rgb(111, 151, 171);
  font-family: Roboto;
  font-size: 20px;
  margin: 0px 11px;
  font-style: normal;
  font-weight: 400;
  z-index: 1;
}

@media (max-width:500px) {
  .container{
    width: 100%;
  }
}